.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('https://th.bing.com/th/id/R.07ffe9648716214046171f407d6b3e08?rik=zuN%2f0sjfcNuCSg&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.formLogin{
    background-color: rgba(255, 255, 255, 0.33);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 255, 0.33);
    padding: 0px 40px 20px 40px;
    border-radius: 16px;
    backdrop-filter: blur(100px);
}
.social{
    display: flex;
    justify-content: center;
    gap: 24px;
    color: white;
    font-size: 24px;
}
.iconSocial{
    cursor: pointer;
}